# unconventional js
/blueprints/*/files/
/vendor/
/smoke-test-app

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
/coverage/
!.*
.eslintrc.js

# ember-try
/bower.json.ember-try
/package.json.ember-try
