# compiled output
/dist/
/tmp/

# misc
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.js
/.git/
/.github/
/.gitignore
/.prettierignore
/.prettierrc
/.template-lintrc.js
/.travis.yml
/.watchmanconfig
/config/ember-try.js
/ember-cli-build.js
/testem.js
/tests/
/yarn-error.log
/yarn.lock
.gitkeep

# custom
/.codeclimate.yml
/test
/smoke-test-app
/coverage
/.nyc-output
/.idea
appveyor.yml
run-smoke-test.sh
*.tgz
/RELEASE.md
