name: CI

on:
  push:
    branches:
      - master
      - 'v*'
  pull_request: {}
  schedule:
    - cron: '0 3 * * *' # daily, at 3am

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1

      - run: yarn install
      - run: yarn lint

  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1

      - run: yarn install
      - run: yarn node-test-with-coverage

  floating-deps:
    name: Tests (floating dependencies)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1

      - run: yarn install --no-lockfile
      - run: yarn node-test

  all-commands-smoke-tests:
    name: Tests (commands smoke test)
    runs-on: ubuntu-latest

    needs:
      - lint
      - tests
      - floating-deps

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1

      - run: yarn install
      - run: npm run client-test

  npm-smoke-tests:
    strategy:
      matrix:
        node: ['10', '12', '14']

    name: Tests (Node.js v${{ matrix.node }} with npm)
    runs-on: ubuntu-latest

    needs:
      - lint
      - tests
      - floating-deps

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - run: yarn install
      - run: npm run smoke-test

  yarn-smoke-tests:
    strategy:
      matrix:
        node: ['10', '12', '14']

    name: Tests (Node.js v${{ matrix.node }} with yarn)
    runs-on: ubuntu-latest

    needs:
      - lint
      - tests
      - floating-deps

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - run: yarn install
      - run: yarn smoke-test-yarn
